.pokemon-card {
  perspective: 1000px; /* 원근법 3D 효과 / 1000이 젤 나은듯? */
  cursor: pointer;
  margin: 10px;
  position: relative; /* 내부요소위치기준점 */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.pokemon-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute; /* 앞뒷면 겹치게! */

  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* 넘치는 글자가 카드밖에 안넘어가도록 해줌 */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* 내용이 넘치면 스크롤 */
}

.card-back p {
  margin: 4px 0;
  line-height: 1.3;
}

.card-front {
  background: white;
}

.card-back {
  background: #615b5b09;
  transform: rotateY(180deg);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.pokemon-card img {
  max-width: 60%;
  max-height: 90%;
  object-fit: contain; /* 비율 유지하면서 안 짤리게 */
}

.pokemon-card:hover {
  /* 마우스호버 위로 살짝 올라가게하는거 */
  transform: translateY(-8px);
  transition: transform 0.2s ease-in-out;
}
