.header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 30px 10px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 60px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 12px;
}

.nav-buttons button {
  background: none;
  border: none;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-buttons button:hover {
  background-color: #f2f2f2;
}

.nav-buttons .active {
  background-color: #ffd43b;
  font-weight: bold;
}
